p {
    display: inline;
}

html {
    font-family: 微软雅黑, 'Times New Roman', Times, serif;
}

textarea {
    width: 600px;
    height: 150px;
    font-family: Consolas, 'Times New Roman', Times, serif;
}

#choicediv {
    display: none;
}

#maindiv {
    display: none;
}

#headdiv {
    display: none;
}

#guidediv {
    display: none;
    align-items: center;
}

#sub1subtask1div {
    display: none;
}

#sub2subtask1div {
    display: none;
}

#sub1subtask2div {
    display: none;
}

#sub2subtask2div {
    display: none;
}

#sub1subtask3div {
    display: none;
}

#sub2subtask3div {
    display: none;
}

#sub1subtask4div {
    display: none;
}

#sub2subtask4div {
    display: none;
}

#subtask1 {
    display: none;
}

#subtask2 {
    display: none;
}

#subtask3 {
    display: none;
}

#subtask4 {
    display: none;
}

#subtaskdiv {
    display: none;
}

button {
    display: inline-block;
}

input[type=text] {
    font-family: Consolas,'Times New Roman', Times, serif;
}